body{
    background-color: black;
    
}
.my-nav a{
    color: white;
    transition: .5s;
    padding-left: 50px;
    font-weight: bold;
}
.my-nav a:hover{
    color: red;
    transform: scale(1.2);
}
.mainFsec h3,.mainFsec p{
    margin:0px 10px;
    padding-top: 60px;
    color: white;
}
#Fsecmovi{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 460px;
}
footer a,footer p, footer h5{
    color: gray;
}
.swiper-container {
    width: 600px;
    height: 300px;
  }